//registry.npmjs.org/:_authToken=${NPM_TOKEN}
@onlineapps:registry=https://registry.npmjs.org/
always-auth=true

- name: Debug .npmrc
  run: cat ~/.npmrc
  env:
    NPM_TOKEN: ${{ secrets.NPM_TOKEN }}