name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  packages: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          registry-url: "https://registry.npmjs.org"
          scope: "@onlineapps"
          always-auth: true

      - name: Install dependencies
        run: npm ci

      - name: Run lint & tests
        run: |
          npm run lint
          npm test

      #- name: Debug .npmrc
      #  run: cat ~/.npmrc
      #  env:
      #    NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      #    NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Test npm authentication
        run: npm whoami
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
